doctype html
html
   head
      title Hello #{name}
      style
         include style.css

   body
      h1 Nice to see you there
      br
      div   
         a(href = signupURL) Account creation (sign up)
         br
         br
         a(href = signinURL) Connection (sign in)