doctype html
html
    head
        title= title
        style
            include style.css
    body
        h1 Sign In Page :
        br
        form(method="POST" action="/login")
            label Username (email):
            input(type = "text", name = "email")
            br
            br
            label Password:
            input(type = "text", name = "password")
            br
            br
            input(type = "submit", name = "submit", value = "submit")

