doctype html
html
   head
      title= title
      style
         include style.css
   body
      h1 Account creation :
      br
      form(method="POST" action="/create-account")
         label Username (email):
         input(type = "text", name = "email")
         br
         label Name:
         input(type = "text", name = "fullname")
         br
         input(type = "submit", name = "submit", value = "submit")

