form { 
    display: inline-block;
    width: 210px;
    text-align: left; 
}

h1{
    font-size:1.5em;
    color:#525252;
}

p {
    font-size:1em;
    color:#525252;
    text-align: center;
}

a {
    text-align: center;
  }